
@mixin pad {
    @media(max-width: 768px){
        @content
    }
}
/* ----------------------------Content------------------------------ */
.banner{
    margin-bottom: 20px;
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.menu{
    text-align: center;
    font-size:$font-size-l;
    width: 32%;
    font-weight: bold;
    h2{
        color:$white;
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: $darkGreen;
    }
    li{
        border: 1px solid $limeGreen;
        display: block;
        a{
            color: $darkGreen;
            display: block;
            padding-top: 16px;
            padding-bottom: 16px;
        }
        a:hover{
            background-color:$limeGreen;
        }
    }
}

.productList{
    width: 65%;  
    ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
            width: 45%;
        }
    }
}

.product{ 
    margin-bottom: 20px;
    font-weight: lighter;
}
.productImage{
    position: relative;
    h2{
        font-size: $font-size-s;
        color: $white;
        position: absolute;
        top:0;
        left:20px;
        display: block;
        background-color: $darkGreen;
        padding:10px;
        padding-bottom: 20px;
    }
}
.heart{
    position: absolute;
    right: 22px;
    top:19px;
}
.productInfo{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    border: 1px solid $limeGreen;
    p{
        font-size:$font-size-m;
        color: $darkGreen;
        padding: 10px 5px;
    }
    span{ 
        font-weight: bold;
        margin-left: 20px;
        padding-left: 10px;
        border-left: 1px solid $limeGreen;
    }
}


.plusCart{
    
    text-align: center;
    font-size: $font-size-l;
    background-color: $limeGreen;
    a{
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: bold;
        color:$darkGreen;
        
    }
}

/* ----------------------------Content-RWD----------------------------- */
@include pad(){
    .content{
        flex-direction: column;
    }
    .menu{
        width: 100%;
    }
    .productList{
       width: 100%;
       justify-content: center;
       margin-top: 30px;
       ul{
            flex-direction: column;
            align-items: center;
            li{
                width: 80%;
            }
        }
    }
    .hide{
        display: none;
    }
}
/* ----------------------------Page----------------------------- */

.page{ 
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    ul{
        display: flex;
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #EAF0ED;
        }
    }
    img{  
        padding-left: 19px;  
        padding-right:19px;
    }
}
.pageNum{
    a{ 
        display: block;
        font-size: $font-size-m;
        padding-top:16px;
        padding-left: 26px;
        padding-bottom: 16px;
        padding-right:26px;
        color: #3F5D45;
        
    }
    a:hover{
        color: white;
        background-color:#3F5D45;
    }
}
 
/* --------------------------Page-RWD---------------------------- */
@include pad(){
    .page{
        justify-content: center;
    }
}