body{
    font-family: 微軟正黑體, sans-serif;
}
img{
    max-width: 100%;
    height: auto;
  }
a {
    text-decoration: none;
 }
*,*::before,*::after{

    box-sizing:border-box;
    
}
@mixin pad {
    @media(max-width: 768px){
        @content
    }
}
@mixin text-hide{
    text-indent:101%;
    overflow:hidden;
    white-space:nowrap;
}
.container{
    max-width: 940px;
    width:0 auto;
    margin: 0 auto;
    @include pad(){
        max-width:375px;
    }
}
/* ----------------------------header---------------------------- */
.header{
    margin-bottom: 10px;
}
.navbar {
        display: flex;
        justify-content: space-between;
        padding: 34px 0;
        position: relative;
    }
    .logo-link{
        background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg) no-repeat;
        width:250px; 
        height:50px;
        @include text-hide();
    }
    
  
  .navbar-toggler {
        display: none;
        border: none;
        background: transparent;
        cursor: pointer;
        @include pad(){
            display: block;
            .navbar-toggler:focus {
                outline: 0;
            }
        }
    }
  
  .navbar-nav {
        display: flex;
        align-items: center;
        max-height: 0px;
        @include pad(){
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            transition: all 0.8s;
            overflow: hidden;
            background: white;
            flex-direction: column;
        }
    }
  
  .navbar .active {
        max-height: 200px;
    }
  
  .navbar-collapse {
        display: flex;
        align-items: center;
    }
  
  .nav-link {
        color: #3F5D45;
        font-weight: bold;
        padding: 0 30px;
        display: block;
        @include pad(){
            padding: 10px 0;
            text-align: center;
        }
    }
  .navbar-link {
        padding-left: 30px;
    }
  @include pad(){
    .nav-item {
            width: 100%;
        }
    
      .nav-item:hover {
            background-color: #EAF0ED;
        }
    
      .navbar-link {
            padding-left: 0;
        }
    }
  
  



/* ----------------------------subscribe----------------------------- */
.subscribe{
    background:$darkGreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 15%;
    ul{
        display: flex;
        align-items: center;
    }
    h2{
        font-size: $font-size-l;
        line-height: 29px;
        padding-left: 20px;
        color: $white;
    }
}

form{
    display: flex;
}
.mailIcon{
    box-sizing: border-box;
    padding: 18px 20px;
    width: 64px;
    height: 58px;
    background: $white;
}
.mail{
    padding: 16px 25px 16px ;
    border: none;
    line-height: 26px;
    background: $white;
}
.forward{
    border: none;
    padding: 17px 20px;
    background-color:$yellow;
}
/* ----------------------------subscribe-RWD----------------------------- */
@include pad(){
    .subscribe{
      max-width:100%;
      flex-direction: column;
      padding: 40px 0;
    }
    form{
      margin-top: 30px ;
    }
}
/* ----------------------------footer------------------------------ */
.footer{
    padding: 5% 10%; 
    background:$limeGreen;
    
}
.footer_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footer_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img{
        margin-bottom: 40px;
    }
    li{
        font-size: $font-size-s;
        color:$darkGreen;
        
        line-height: 24px;
    }
}

.footer_right h2{
    font-size: $font-size-l;
    line-height: 40px;
    text-indent: 10px;
    font-weight: bold;
    writing-mode: vertical-lr;
    color: $darkGreen;
}

.footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    ul{
        display: flex;
        li img{
            max-width: 32px;
            height: 32px;
            margin: 5px; 
        }
    }
    p{
        font-size:$font-size-s;
        color: $darkGreen;
    }
}
/* ----------------------------footer-RWD----------------------------- */
@include pad(){
    .footer{
        max-width:100%;
        
        align-items:center;
      }
    .footer_bottom{
        flex-direction: column;
        align-items: flex-start;
    }
}